<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Web Credential Checker</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <img src="/static/logo_6.png" alt="Dark Web Monitor" width="200">
    <h1>Check if your email has been leaked</h1>
    <form action="/result" method="POST">
        <input type="email" name="email" required>
        <button type="submit">Check</button>
    </form>
</body>
</html>
